*{
    padding: 0;
    margin: 0;
}
.container-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: rgba(211, 211, 211, 0.39);
    height: 50vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 8px rgb(11, 207, 191);
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
h1{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
}
.item-peso{
    display: flex;
    flex-direction: column;
    color: rgb(5, 129, 119);;
}
.item-altura{
    display: flex;
    flex-direction: column;
    color: rgb(5, 129, 119);
}
input{
    width: 90%;
    margin: 6px 0px 15px 0px;
    height: 25px;
    padding-left: 8px;
    
}

button{
    cursor: pointer;
    padding: 6px;
    font-size: 15px;
    background-color: rgb(11, 207, 191);
    border: none;
    color: #fff;
    margin-bottom: 20px;
}

